In [33]:
import pandas as pd
import numpy as np

In [34]:
path = "/content/epl-goalScorer(20-21).csv"
df = pd.read_csv(path)

In [35]:
df.head(10)

,Unnamed: 0,id,player_name,games,time,goals,xG,assists,xA,shots,key_passes,yellow_cards,red_cards,position,team_title,npg,npxG,xGChain,xGBuildup
0,0,647,Harry Kane,35,3097,23,22.174859,14,7.577094,138,49,1,0,F,Tottenham,19,19.130183,24.995648,4.451257
1,1,1250,Mohamed Salah,37,3085,22,20.250847,5,6.528526,126,55,0,0,F M S,Liverpool,16,15.683834,28.968234,9.800236
2,2,1228,Bruno Fernandes,37,3117,18,16.019454,12,11.474996,121,95,6,0,M S,Manchester United,9,8.407840,26.911412,11.932285
3,3,453,Son Heung-Min,37,3139,17,11.023287,10,9.512992,68,75,0,0,F M S,Tottenham,16,10.262118,20.671916,6.608751
4,4,822,Patrick Bamford,38,3085,17,18.401863,7,3.782247,107,30,3,0,F S,Leeds,15,16.879525,23.394953,4.131796
5,5,5555,Dominic Calvert-Lewin,32,2788,16,18.136449,0,2.101819,82,18,3,0,F S,Everton,16,18.136449,19.698850,4.159406
6,6,755,Jamie Vardy,34,2848,15,19.942946,9,5.087882,82,28,1,0,F S,Leicester,7,13.092427,18.227907,2.412588
7,7,8865,Ollie Watkins,37,3330,14,16.280178,5,5.314029,98,45,2,1,F,Aston Villa,13,14.757840,22.014021,5.334991
8,8,314,Ilkay Gündogan,28,2033,13,9.566883,2,3.816220,54,42,1,0,M S,Manchester City,12,8.044545,19.286812,10.148375
9,9,3277,Alexandre Lacazette,30,1928,13,12.028909,2,2.209213,45,22,3,0,F M S,Arsenal,10,9.745403,14.361542,2.937941

- 10 player dengan goal terbanyak

In [44]:
df.groupby('player_name').mean()
df.groupby('player_name').mean().sort_values(by='goals')
df1 = df.groupby('player_name')['goals'].mean()
df1.sort_index()
df2=df1.sort_values(ascending=False)
df2.head(10)

<ipython-input-44-d217991547e7>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('player_name').mean()
<ipython-input-44-d217991547e7>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('player_name').mean().sort_values(by='goals')

player_name
Harry Kane               23.0
Mohamed Salah            22.0
Bruno Fernandes          18.0
Patrick Bamford          17.0
Son Heung-Min            17.0
Dominic Calvert-Lewin    16.0
Jamie Vardy              15.0
Ollie Watkins            14.0
Alexandre Lacazette      13.0
Ilkay Gündogan           13.0
Name: goals, dtype: float64

- 10 player dengan durasi bermain terlama

In [46]:
df.groupby('player_name').mean()
df.groupby('player_name').mean().sort_values(by='time')
df1 = df.groupby('player_name')['time'].mean()
df1.sort_index()
df2=df1.sort_values(ascending=False)
df2.head(10)

<ipython-input-46-06f7a62033d7>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('player_name').mean()
<ipython-input-46-06f7a62033d7>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('player_name').mean().sort_values(by='time')

player_name
Hugo Lloris              3420.0
Emiliano Martinez        3420.0
Kasper Schmeichel        3420.0
Pierre-Emile Højbjerg    3420.0
Stuart Dallas            3412.0
Matt Targett             3407.0
Luke Ayling              3400.0
Andrew Robertson         3391.0
Youri Tielemans          3359.0
James Ward-Prowse        3330.0
Name: time, dtype: float64

- 10 player dengan assist terbanyak

In [53]:
df.groupby('player_name').mean()
df.groupby('player_name').mean().sort_values(by='assists')
df1 = df.groupby('player_name')['assists'].mean()
df1.sort_index()
df2=df1.sort_values(ascending=False)
df2.head(10)

<ipython-input-53-3c5c298156e1>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('player_name').mean()
<ipython-input-53-3c5c298156e1>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('player_name').mean().sort_values(by='assists')

player_name
Harry Kane         14.0
Bruno Fernandes    12.0
Kevin De Bruyne    11.0
Son Heung-Min      10.0
Jack Grealish      10.0
Raphinha            9.0
Jamie Vardy         9.0
Marcus Rashford     9.0
Aaron Cresswell     8.0
Jack Harrison       8.0
Name: assists, dtype: float64

- 4 player pencetak goal terbanyak dari kesebelasan manchester city

- Dari kesebelasan mana pencetak goal terbanyak ? Jawab : Arsenal, New Castle United

In [59]:
df.groupby('team_title').mean()
df.groupby('team_title').mean().sort_values(by='goals')
df1 = df.groupby('team_title')['goals'].mean()
df1.sort_index()
df2=df1.sort_values(ascending=False)
df2.head(1)

<ipython-input-59-37207a64498b>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('team_title').mean()
<ipython-input-59-37207a64498b>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('team_title').mean().sort_values(by='goals')

team_title
Arsenal,Newcastle United    8.0
Name: goals, dtype: float64

- Jumlah kartu kuning dan kartu merah yang diterima pembuat assist terbanyak? Jawab = 170 untuk kartu kuning dan 475 untuk kartu merah

In [55]:
df['yellow_cards'].value_counts()

0     170
2      89
1      84
3      73
4      36
5      24
6      17
7      16
8       8
11      2
12      1
9       1
10      1
Name: yellow_cards, dtype: int64

In [56]:
df['red_cards'].value_counts()

0    475
1     46
2      1
Name: red_cards, dtype: int64

- Siapa yang jumlah assist dan goal nya terbanyak dan dari kesebelasan mana ?

- 5 kesebelasan penyumbang goal terbanyak?

In [60]:
df.groupby('team_title').mean()
df.groupby('team_title').mean().sort_values(by='goals')
df1 = df.groupby('team_title')['goals'].mean()
df1.sort_index()
df2=df1.sort_values(ascending=False)
df2.head(5)

<ipython-input-60-fcba20f44d93>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('team_title').mean()
<ipython-input-60-fcba20f44d93>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('team_title').mean().sort_values(by='goals')

team_title
Arsenal,Newcastle United    8.000000
Manchester City             3.208333
Aston Villa,Chelsea         3.000000
Liverpool,Southampton       3.000000
Everton,Southampton         3.000000
Name: goals, dtype: float64

- Pemain dengan jumlah goal terbanyak tanpa mendapatkan kartu sama sekali?